* {
    margin: 0;
    padding: 0;
    background-color: black;
}

body {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin: 0;
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
}

header, footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: 0;
    width: 100%;
}

header {
    top: 0;
} 

footer {
    bottom: 0;
}

main {
    margin: 70px 20px 70px 20px;
}

#profile-pic {
    margin-top: 10rem;
    margin-bottom: 5rem;
    max-width: 25%;
    max-height: 25%;
} 

#about-me-paragraph {
    font-size: 2em;
    margin-top: 140px;
    margin-bottom: 50px;
}

#project1-paragraph {
    font-size: 1.5em;
    margin-top: 70px;
    margin-bottom: 100px;
}

#project2-paragraph {
    font-size: 1.5em;
    margin-top: 70px;
    margin-bottom: 100px;
}


nav a {
    color: rgb(255, 255, 255);
    text-decoration-color: none;
    text-decoration-color: white;
} 

section {
    padding: 60px, 20px;
}

#background {
    background-color: black;
}

#career-goals {
    background-color: black;
}

#career-paragraph {
    font-size: 2em;
    margin-top: 140px;
    margin-bottom: 330px;
}

#hobbies {
    background-color: black;
}

#hobby-list {
    list-style-position: inside;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

#projects {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in.visible {
    opacity: 1;
}

html {
    scroll-behavior: smooth;
}

h2 {
    margin-top: 0;
}

p {
    line-height: 1.6;
}

#flag1 {
    margin-top: 10rem;
    margin-bottom: 5rem;
    max-width: 25%;
    max-height: 25%;
} 

#flag2 {
    margin-top: 10rem;
    margin-bottom: 5rem;
    max-width: 23%;
    max-height: 23%;
} 

#pikachu {
    margin-top: 10rem;
    margin-bottom: 5rem;
    max-width: 23%;
    max-height: 23%;
} 

#persona3 {
    margin-top: 10rem;
    margin-bottom: 5rem;
    max-width: 23%;
    max-height: 23%;
} 

#movie-poster {
    margin-top: 10rem;
    margin-bottom: 5rem;
    max-width: 23%;
    max-height: 23%;
} 

#arsenal {
    margin-top: 10rem;
    margin-bottom: 5rem;
    max-width: 23%;
    max-height: 23%;
} 

#spotify {
    max-width: 100%;
    display: block;
} 

#planet {
    max-width: 100%;
    display: block;
} 

#adventure {
    max-width: 100%;
    display: block;
} 


.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-columns: auto auto auto;
    gap: 1em;
    margin-top: 5rem;
}

.box {
    border: 1px solid white;
    border-radius: 6px;
    padding: 2rem;
    text-align: center;
}



.featured {
    grid-column: span 3;
}
/* Transition */

a, .btn {
    transition: all 300ms ease;
} /* purposeful lag before hover */

a:hover {
    color: gray;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(101,101,101);
}



